.contentContainer{
    width: 60%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.loginContainer{
    flex:1;
    margin-left: 10px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #eee;
}
.content{
    width: 570px;
}
