.articleListContainer {
    margin-top: 10px;
    height: 600px;
    overflow: scroll;
}
.paginationStyle{
    margin-top: 20px;
    text-align: center;
}
.cellContainer{
    border-bottom: solid thin #ddd;
    display: flex;
    flex-direction: row;
    height: 80px;
}
.cellAboutArticle{
    display: flex;
    flex-direction: column;
    flex: 4;
    align-content: center;
    justify-content: center;
}
.cellState{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.cellOperation{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.articleTitle{
    margin-bottom: 10px;
    font-size: 15px;
    color: #000;
}
.articleInfo span{
    font-size: 12px;
    margin-right: 10px;
    display: inline-block;
    color: #6b6b6b;
}