@charset "utf-8";
/* CSS Document */
body, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input {
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
}

img {
    border: none;
}


input, select, textarea {
    outline: none;
    border: none;
    background: none;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
    color: #656565;
}

/*清浮动*/
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

body {
    background: #eee;
}




























