.container{
    display: flex;
    justify-content: center;
    background: #eee;
}
.contentContainer{
    width: 60%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.newsContainer{
    flex: 2;
    margin-right: 10px;
}
.loginContainer{
    flex:1;
}